*~
.DS_Store
.idea
.vscode

**/node_modules/
dist/
npm-debug.log
build/
dist/tsBuild
testserver.pid
coverage/
tsBuild/
*.json.404

**/breakpoints.json
**/Logs/*.txt
**/DataFolder/*
**/sessionID.json
**/logs/*
*.cacheUAG
*.waPreferences
*.Match
*.waSym
*.waSymData
*.waIndx
*.WakTDef
*.waData

!.gitkeep
